/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #fff;
    width: 100%;
    padding-bottom: 50px;
}
 
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(to right, #1db954, #191414);
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
 
header .contTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 20px;
}
 
header .contTitle h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
}
 
header .contTitle img {
    width: 100px;
    height: auto;
    
}
 
.content{
    width: 100%;
    padding-top: 80px;
    display: flex;
}

/*ASIDE*/

aside{
    flex: 1 1 20%;
    min-height: 100vh;
    top: 80px;
    left: 0;
    background-color: rgba(25,25, 25,0.9);
    padding: 20px;
    transition: all 0.3s ease;
    overflow-y: auto;
}

aside ul{
    list-style: none;
    padding: 0;
}

aside ul li{
    margin: 15px 0;
}

aside ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

aside ul li a:hover{
    background-color: #1db954;
}
/* MAIN */
main {
    margin-left: 20px;
    padding: 20px;
    flex: 1 1 80%;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1{
    margin-top: -20px;
    width: 90%;
    border-bottom: #fff 1px solid;
    text-align: left;
    padding-left: 5px;
}

main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    max-width: 900px;

}
#artists-container{
    display: flex;
    flex-wrap: wrap;
}

.artists {
    position: relative;
    width: 180px;
    height: 180px;
    border: 2px solid #1db954;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(29, 185, 84, 0.3);
    text-align: center;
    background-color: #05702a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 5%;
    
}

.artists:hover {
    /* transform: scale(1.05); */
    box-shadow: 0px 6px 15px rgba(29, 185, 84, 0.5);
}

.artists h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.artists button {
    position: absolute;
    right: 40px;
    bottom: 20px;
    text-decoration: none;
    background-color:#181818;
    color: #3ebb33;
    font-size: 1.5rem;
    transition: color 0.3s ease;
    cursor: pointer;
    background: none;
    border: none;
}

.artists #artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: center; */
    gap: 20px;
    padding: 20px;
    max-width: 900px;
}

/* SUBMENÚ */
.artists .submenu {
    display: none;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    background: rgba(29, 185, 84, 0.9);
    border-radius: 8px;
    padding: 8px 0;
    list-style-type: none;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.artists .submenu.active {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(29, 185, 84, 0.9);
}

.artists .submenu li {
    padding: 10px;
    text-align: center;
    font-size: 0.95rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.artists .submenu li:hover {
    background-color: #05702a;
    transform: scale(1.05);
}

.artists .submenu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
}

.artists a:hover {
    color: #1ed760;
}

.box {
    position: fixed;
    right: 25%;
    bottom: 40%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    background-color: #fff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    align-items: stretch;
    align-content: space-around;
    z-index: 1000;
    
    
}
.box h4{
    color: #121212;
    text-align: center;
}
.artists .submenu .boton2{
    text-align: center;
    font-size: 0.95rem;  
    font-weight: bold; 
    color: #fff;   
    transition: color 0.3sease;  
    cursor: pointer; 
    background: none; 
    border: none;  
    right: 23px;
    bottom: 7px; 

}
.botones{
    display: flex;
    margin: 5px;
    justify-content: space-around;  
}
.botones button{
    padding: 5px;
    border-radius: 5px;
    background-color: #1db954;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100px;    
}

/*POST*/
.newArtist {
    width: 60px;
    height: 60px;
    background-color: #1db954;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(29, 185, 84, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    
}

.newArtist:hover {
    transform: scale(1.15);
    box-shadow: 0px 8px 20px rgba(29, 185, 84, 0.5);
}

.newArtist a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.newArtistContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



/*CREATE CATEGORY*/
.newArtistSection {
    display: none; 
    width: 30%; 
    height: auto;
    min-height: 250px; 
    background-color: #1db954; 
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    position: absolute;
    padding: 30px;
    margin-left: 20%;
    top: 10%; 
    transform: translateY(50%);
    right: 30%;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    box-shadow: 5px 8px 20px rgba(30, 157, 75, 0.5);
}

.newArtistSection .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.newArtistSection .close:hover {
    color: #000000; 
}

.newArtistSection h2 {
    color: #fff;
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem; 
    font-weight: 600; 
    letter-spacing: 1px;
}

.newArtistSection p {
    color: #f1f1f1;
    font-size: 1rem;
    padding: 8px;
    line-height: 1.5;
    text-align: center;
}

.newArtistSection input {
    padding: 8px;
    width: 100%;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd; 
    margin-bottom: 10px; 
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}



.newArtistSection button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color:  #1ed760;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
}

.newArtistSection button:hover {
    background-color: #1d9c4a;
}

.newArtistSection button:active {
    transform: scale(0.98);
}



/*FOOTER*/
footer {
    background: linear-gradient(to right, #1db954, #191414);
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}

footer p {
    margin: 5px 0;
}

.footer-icons {
    margin-top: 5px;
}

.footer-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.3rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
    transform: scale(1.2);
    color: #1ed760;
}




